@media(max-width: 1000px) {
	nav ul li a {
		font-size: 18px;
	}
	.main-header-container {
		width: 60%;
	}

	.main-header h1 {
		font-size: 35px;
	}

	.main-header p {
		font-size: 15px;
	}

	.contact-container {
		width:75%;
	}

	.contact-form input, .contact-form textarea{
		font-size:14px;
		padding: 8px;
	}

	.contact-detail p {
		font-size: 15px
	}

	.contact-container h2 {
		font-size: 25px;
	}

	.food-item {
		width:100%;
		min-height: 250px;
	}

	.food-item img {
		width: 90%;
		left: 5%;
	}

	.food-item p {
		width: 80%;
	}

	.footer-container {
		width: 90%;
	}

	footer h1 {
		font-size:22px;
	}

	footer p {
		font-size: 14px;
	}

	footer h2 {
		font-size: 16px;
	}

	footer li {
		font-size: 13px;
	}

	.btn-footer {
		padding: 7px 15px;
	}
}

@media(max-width: 670px) {
	nav ul {
		display: none;
	}

	.navbar .menu-logo {
		display: block;
	}

	.logo1, .logo2 {
		font-size: 30px;
	}

	.main-header-container {
		width: 80%;
	}

	.main-header h1 {
		font-size: 30px;
	}

	.main-header p {
		font-size: 12px;
	}

	.contact-container {
		width:90%;
	}

	.contact-form input, .contact-form textarea{
		font-size:12px;
		padding: 6px;
	}

	.contact-detail p {
		font-size: 14px
	}

	.contact-container h2 {
		font-size: 20px;
	}

	.food-region {
		width: 90%;
	}

	.food-item {
		width:50%;
		min-height: 250px;
	}

	.food-item img {
		width: 90%;
		left: 5%;
	}

	.food-item p {
		width: 80%;
	}

	.footer-container {
		width: 95%;
	}

	footer h1 {
		font-size:20px;
	}

	footer p {
		font-size: 13px;
	}

	footer h2 {
		font-size: 15px;
	}

	footer li {
		font-size: 12px;
	}

	.btn-footer {
		padding: 5px 10px;
	}
}
